/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

.spacex-button {
  min-width: 60px;
  min-height: 35px;
  background-color: #dbf6e9;
  border: 0;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #9ddfd3;
  }
}

.spacex-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.16);
  padding: 20px;
  margin: 10px;
}

.spacex-loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
