<div class="spacex-loader" *ngIf="isLoading"></div>
<div class="home-container-wrapper">
  <h1>SpaceX Launch Programs</h1>
  <div class="home-container">
    <div class="filters-panel spacex-card">
      <h2>Filters</h2>
      <div class="filter-group">
        <div class="filter-header">
          <div>Launch Year</div>
          <!-- <div class="link" (click)="clearFilter('year')">Clear</div> -->
        </div>
        <hr>
        <button class="spacex-button" *ngFor="let year of years" [ngClass]="{'active': selectedYear === year }"
          (click)="toggleFilter('year', year)">{{ year }}</button>
      </div>
      <div class="filter-group">
        <div class="filter-header">
          <div>Successful Launch</div>
          <!-- <div class="link" (click)="clearFilter('launch')">Clear</div> -->
        </div>
        <hr>
        <button class="spacex-button" [ngClass]="{'active': isSuccessfulLaunch === true }"
          (click)="toggleFilter('launch', true)">True</button>
        <button class="spacex-button" [ngClass]="{'active': isSuccessfulLaunch === false }"
          (click)="toggleFilter('launch', false)">False</button>
      </div>
      <div class="filter-group">
        <div class="filter-header">
          <div>Successful Landing</div>
          <!-- <div class="link" (click)="clearFilter('landing')">Clear</div> -->
        </div>
        <hr>
        <button class="spacex-button" [ngClass]="{'active': isSuccessfulLanding === true }"
          (click)="toggleFilter('landing', true)">True</button>
        <button class="spacex-button" [ngClass]="{'active': isSuccessfulLanding === false }"
          (click)="toggleFilter('landing', false)">False</button>
      </div>
    </div>
    <div class="data-panel">
      <div class="launch-details spacex-card" *ngFor="let data of data">
        <ng-container [ngTemplateOutlet]="launchCard" [ngTemplateOutletContext]="{ data: data }"></ng-container>
      </div>
    </div>
  </div>
  <h3 class="footer">Developed by: Debanjan Saha</h3>
</div>

<ng-template #launchCard let-data="data">
  <img [src]="data.links.mission_patch_small" [alt]="data.mission_name">
  <div class="text-details">
    <div class="launch-title">{{ data.mission_name + '#' + data.flight_number }}</div>
    <div class="launch-label-wrapper">
      <strong *ngIf="data.mission_id.length > 0">Mission Ids:</strong>
      <ul *ngIf="data.mission_id.length > 0">
        <li *ngFor="let id of data.mission_id">{{ id }}</li>
      </ul>
    </div>
    <div class="launch-label-wrapper">
      <strong>Launch Year:</strong>
      <span class="value">{{ data.launch_year }}</span>
    </div>
    <div class="launch-label-wrapper">
      <strong>Successful Launch:</strong>
      <span class="value">{{ data.launch_success }}</span>
    </div>
    <div class="launch-label-wrapper">
      <strong>Successful Landing:</strong>
      <span class="value">{{ isSuccessfulLanding ? isSuccessfulLanding : 'N/A' }}</span>
    </div>
  </div>
</ng-template>
